.info_title{
	color: blue;
	font-size:18;
	font-family : Arial, Helvetica, _sans;
}

.info_title_bookmark{
	color: green;
	font-size:18;
	font-family : Arial, Helvetica, _sans;
}

.info_title_active bookmark{
	color: red;
	font-size:18;
	font-family : Arial, Helvetica, _sans
}

.info_description{ color: brown; 
font-family : Arial, Helvetica, _sans;}